mammoth
pdfminer.six
python-pptx
puremagic
pydub
SpeechRecognition
youtube-transcript-api
pathvalidate
google-search-results
transformers
yfinance
ta
matplotlib
openai
mplfinance
moviepy
smolagents[litellm]
smolagents[toolkit]==1.10.0